* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --ff-heading: 'Staatliches', cursive;
  --ff-p: 'Roboto', sans-serif;
  --ff-footer: 'Open Sans', sans-serif;

  --fc-primary: hsl(0, 0%, 100%);
  --fc-secondary: hsl(274, 84%, 12%);
  --fc-card: hsl(232, 17%, 35%);

  --fs-p: clamp(2rem, 0.5rem + 3vw,2.4rem)

  --bc-body: hsl(233, 100%, 97%);
  --bc-header: hsl(218, 17%, 62%);
  --bc-heading: hsl(275, 18%, 79%);
  --bc-card: hsl(312, 91%, 96%);
}

.mobile-hidden {
  display: none;
}

.mobile-hidden-img {
  display: none;
}

body::before {
  content: '';
  background: var(--bc-header);
  position: absolute;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 27.9rem;
}

body {
  background: var(--bc-body);
}

.page {
  margin: 0 auto;
  text-align: center;
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#logo {
  width: 13.7rem;
  height: 13.7rem;
  align-self: center;
  margin: 3.2rem auto;
}

header h1 {
  font-family: var(--ff-heading);
  font-weight: 400;
  font-size: 4rem;
  line-height: 3.4rem;
  letter-spacing: 0.05em;
  color: var(--fc-primary);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

  padding: 1rem 0;

  background: var(--bc-heading);
  width: 100%;
}

p {
  width: 30.5rem;
  margin: 5rem auto 6.3rem;
  text-align: center;

  font-family: var(--ff-p);
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.5rem;
  color: var(--fc-secondary);

  padding: 1.4rem 0 3.2rem;
}

.right {
  margin-bottom: 6rem;
}

main {
  margin: auto;
  width: 32rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.card {
  position: relative;
}

img {
  width: 100%;
  height: auto;
}

.card h2 {
  font-family: var(--ff-heading);
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 3.4rem;
  letter-spacing: 0.05em;

  color: var(--fc-card);

  background: var(--bc-card);
  border-radius: 2rem;
  padding: 0 2.3rem;

  position: absolute;
  top: 1.7rem;
  right: 1.6rem;
}

.card img {
  animation: downtop 700ms 350ms backwards;
}

.card h2 {
  animation: topdown 600ms 450ms backwards;
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


